@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /* border: 3px solid white; */
    background-color: black;
}

.title {
    display: flex;
    width:100%;
    border-bottom: 1px solid white;
}

.menu {
    display: flex;
    width:100%;
}

.menu>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu>ul>li {
    padding: 5px 10px;
}

.logoHeader {
    margin: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
}

.logo {
    position: relative;
    margin:  15px;
    display: inline-block;
    width: 50px;
    height:50px;
    background-image: url("../../assets/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}